@{ 
    ViewData["Title"] = "Home";
    Layout = null;
}

@model  WebApplication.Models.TestModel

    <div>
        @using (Html.BeginForm("Calculate", "Test", "POST"))
        {
            <p>@Html.TextBoxFor(x => x.val1)</p>
            <p>@Html.TextBoxFor(x => x.val2)</p>
            <p><input type="submit" value="submit"/></p>
        }
    </div>