@* test comment *@


@{
    Layout = null;
}

<style>
    .testStyleClass {
        width: 400px;
        background-color: #00ff90;
    }
</style>

<p>@Program.test</p>

@{
    if (Program.test.Length == 3)
    {
        <p>length is three</p>
    }
    else
    {
        <p>length is not three</p>
    }
}

<p>
    @Html.TextArea("testid","test", new { @class = "testStyleClass" })
</p>